.swiperContainer {
  :global {
    .swiper {
      width: 100%;
    }

    .swiper-button-prev,
    .swiper-button-next {
      color: var(--chakra-colors-highlight);
    }

    .swiper-pagination-bullet {
      background: var(--chakra-colors-dark-info);
      width: 0.5rem;
      height: 0.5rem;
      opacity: 1;
    }

    .swiper-pagination-bullet-active {
      background: var(--chakra-colors-highlight);
    }
  }

  .swiperSlide {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
